:root{
    --darkPurple: #2E073F;
    --midPurple: #7A1CAC;
    --purple: #AD49E1;
    --lightPurple: #EBD3F8;
}
body{
    background-color: var(--darkPurple);
    color: var(--lightPurple);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}