#sidebar-container{
    display: grid;
    grid-template-columns:3fr 1fr ;
    grid-template-rows:1fr 1fr;
    gap: 0;
}

#icon-button-navbar{
    grid-column: 2;
    background-color: var(--darkPurple);
    justify-self: end;
}
#sidebar-nav{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#img-icon-navbar{
    height:100%;
}