#sidebar-container{
    display: grid;
    grid-template-columns:3fr 1fr ;
    grid-template-rows:1fr 1fr;
    gap: 0;/
}


.sidebar-nav-icon--button{
    justify-self: end;
    grid-column: 2;
    background-color: var(--darkPurple);
    width: 40%;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 80%;
}

#icon-button-navbar{
    background-color: var(--darkPurple);
    width:60%;
    color: var(--purple);
    border: none;
    outline: none;
}

#sidebar-nav{
    grid-row: 2;
    grid-column: 2;
}

#img-icon-navbar{
    height:100%;
    width: max(100%, 70%);
}
.sidebar-off {
    display: flex; /* Το display:none κόβει το animation, οπότε χρησιμοποιούμε width:0 */
    align-items: flex-end; /* Σπρώχνει το περιεχόμενο στα δεξιά */
    justify-content: space-evenly;
    flex-direction: column;
    gap: 0.5rem;
    font-size: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;

    /* Animation settings */
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.sidebar-on {
    display: flex;
    align-items: start; /* Κρατάει τα πάντα δεξιά καθώς μεγαλώνει */
    justify-content: space-evenly;
    flex-direction: column;

    /* Μεγαλύτερα στοιχεία */
    gap: 1rem;
    font-size: 1.5rem;
    width: 100%; /* Το πλάτος που θέλεις να πιάνει όταν ανοίγει */
    opacity: 1;

    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--midPurple);
    transition: all 0.5s ease-in-out;
}

.link-navbar{
    color: var(--lightPurple);
    text-decoration: none;
}

.li-navbar{
    list-style: none;
    white-space: nowrap;
}