#sidebar-container{
    display: grid;
    grid-template-columns:3fr 1fr ;
    grid-template-rows:1fr 1fr;
    gap: 0;
}

#icon-button-navbar{
    background-color: var(--darkPurple);
    width:50%;
    color: var(--purple);
}
.sidebar-nav-icon--button{
    justify-self: end;
    grid-column: 2;
    background-color: var(--darkPurple);
    width: 40%;
}

#sidebar-nav{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#img-icon-navbar{
    height:100%;
    width: max(100%, 70%);
}
.sidebar-off{
    display: none;
}